.stopwatch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;

    margin-right: 1em;

    .sw-buttons {
        display: flex;
        flex-direction: column;
        gap: .5em;

        button {
            font-size: .7rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: red;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: 0 0 10px red;
        }

        button:hover {
            background-color: darkred;
        }
    }

    .display {
        font-family: "Courier New", Courier, monospace;
        font-size: 2rem;
        color: red;
        background: #111;
        padding: 3px;
        border-radius: 10px;
        border: 4px solid red;
        text-shadow: 0 0 10px red;
        display: inline-block;
        min-width: 200px;
        text-align: center;
    }
}